<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dashboard for {{ .Site.Params.hostname }}, a home NAS.">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Params.hostname }}{{ end }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/app.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">

<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">

<script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
</script>
